
pageTitle{
   display: block;
  font-size: 4em;
  margin-top: 0;
  margin-bottom: 0;
  margin-left: 0;
  margin-right: 0;
  font-weight: bold;
  text-align:center;
  font-family:calibri;
  color: #E5E9E9;
  }
subTitle{
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align:center;
  font-family:calibri;
  color: #E5E9E9;
  }
descriptionTitle{
  display: block;
  font-size: 2em;
  font-weight: bold;
  text-align:center;
  font-family:calibri;
  color: #E5E9E9;
  }
descriptionInfo{
    display: block;
    font-size: 1em;
    text-align:center;
    font-weight: bold;
    font-family:calibri;
    color: #E5E9E9;
}
body{
     background-color: #346D58;
    }

introduction
  {
    display: block;
    font-size: 1em;
    margin-left: 25px;
    font-weight: bold;
    font-family:calibri;
    color: #E5E9E9;
  }
  video {
    margin-left: auto;
    margin-right: auto;
     margin-top : 40px;
    display: block;
    width: 840px; 
}
.container {
  position: relative;
  width: 50px;
  }
.container img {
  width: 50px;
  height: auto;
}
.container .btn {
  position: absolute;
  left: 100%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  background-color: #555;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}
.container .btn:hover {
  background-color: black;
} 

.dropdown {
  display: inline-block;
  position: relative;
}
  
.dropdown-content {
  display: none;
  position: absolute;
  width: 125px;
  overflow: auto;
  box-shadow: 0px 10px 10px 0px rgba(0,0,0,0.4);
}
.dropdown:hover .dropdown-content {
  display: block;
}
.dropdown-content a {
  display: block;
  color: #E5E9E9;
  padding: 5px;
  text-decoration: none;
}
.dropdown-content a:hover {
  color: #FFFFFF;
  background-color: #00A4BD;
}
<style>
* {
  box-sizing: border-box;
}

.row {
  display: flex;
}

.column {
  flex: 50%;
  padding: 5px;
}
code {
  font-family: Consolas,"courier new";
  color: crimson;
  background-color: #f1f1f1;
  padding: 2px;
  font-size: 105%;
  text-align : center;
   font-colour : #E5E9E9;
}
